<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introdução ao Flask</title>
</head>

<body>

    <h1>Esta é a página de games</h1>
    <hr>
    <h3>Jogo em destaque:</h3>
    {% for key, value in game.items() %}
    <details>
        <summary>
            {{key}}
        </summary>
        <p>{{value}}</p>
    </details>
    {% endfor %}

    <p>Curiosidade: O {{game['title']}} tem {{currentYear-game['year']}} anos.</p>

    <h3>Jogadores atuais:</h3>
    <ol>
        {% for name in players: %}
        <li>{{name}}</li>
        {% endfor %}
    </ol>


</body>

</html>